#my-id {color: pink;font-style: itanic; }

.my-class {background-color: green; text-decoration: underline; text-align: center; }

p {font-style: times new roman; font-weight: bold; }

h2 {font-style: ariel; color: purple;}

.my-container {border-style: solid; padding: 10px}